<ion-view class="marketDk-pane home-screen" align-title="left" view-title="Riwayat Order" hide-nav-bar="true">

	<ion-header class="bar bar-header marketDk-nav crop">
		<img src="img/logo.png" height="100%" ng-click="home()"/>

		<div class="dk-right">
			<label class="toggle">
				<input type="checkbox" checked="">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
			<button class="button marketDk-button-clear icon ion-ios-briefcase" style="padding: 0 0px;" ng-click="history()">
			</button>
			<button class="button marketDk-button-clear icon ion-android-person" style="padding: 0 0px;" ng-click="profile()">
			</button>
		</div>
	</ion-header>
<!-- 
	<ion-nav-buttons side="right">
		<div id="cart-container">
			<button class="button marketDk-button-clear icon ion-android-cart" style="padding: 0 0px;" ng-click="cart()">
			</button>
			<button class="button marketDk-button-clear icon ion-android-person" style="padding: 0 0px;" ng-click="profile()">
			</button>
		</div>
	</ion-nav-buttons> -->

	<ion-content class="marketDk-body boga-header" has-header="true">
	
		<div style="font-size: 25px;margin: 10px;color:#000;font-weight: 300;">
			Riwayat Order
		</div>


		<div class="dk-kotak" style="background-color: #009E0F; color:#000;" ng-click="detailOrder()">
			<div style="border-style: solid;border-bottom: thick double #000;padding:10px; font-size: 13px; font-weight: 300">
				03 April 2017 : 14.00 Wib
			</div>
			<div class="row" style="padding:0px;">
				<div class="col text-left" style="border-style: solid;border-right: thick double #000;">
					<div class="row" style="padding:0px;">
						<div class="col" style="padding:0px;">
							<button class="iconorder marketDk-button-clear iconKotak ion-bag" style="font-size: 50px;color:#000;"></button>
						</div>
						<div class="col col-75" style="padding:0px; font-size: 13px; font-weight: 300;">
							Kantin<br> Catur
						</div>
					</div>
				</div>

				<div class="col text-left">
					<div class="row" style="padding:0px;">
						<div class="col" style="padding:0px;">
							<button class="iconorder marketDk-button-clear iconKotak ion-social-usd" style="font-size: 50px;color:#000;"></button>
						</div>
						<div class="col col-75" style="padding:0px; font-size: 13px; font-weight: 300;">
							Ongkos<br>
							Rp 15.000
						</div>
					</div>					
				</div>
			</div>
		</div>

		<div class="dk-kotak" style="background-color: #009E0F; color:#000;" ng-click="detailOrder()" ng-repeat="i in [9,0]">
			<div style="border-style: solid;border-bottom: thick double #000;padding:10px; font-size: 13px; font-weight: 300">
				03 April 2017 : 14.00 Wib
			</div>
			<div class="row" style="padding:0px;">
				<div class="col text-left" style="border-style: solid;border-right: thick double #000;">
					<div class="row" style="padding:0px;">
						<div class="col" style="padding:0px;">
							<button class="iconorder marketDk-button-clear iconKotak ion-bag" style="font-size: 50px;color:#000;"></button>
						</div>
						<div class="col col-75" style="padding:0px; font-size: 13px; font-weight: 300;">
							Kantin<br> Mutiara
						</div>
					</div>
				</div>

				<div class="col text-left">
					<div class="row" style="padding:0px;">
						<div class="col" style="padding:0px;">
							<button class="iconorder marketDk-button-clear iconKotak ion-social-usd" style="font-size: 50px;color:#000;"></button>
						</div>
						<div class="col col-75" style="padding:0px; font-size: 13px; font-weight: 300;">
							Ongkos<br>
							Rp 15.000
						</div>
					</div>					
				</div>
			</div>
		</div>

		
	</ion-content>
</ion-view>