<ion-view class="marketDk-pane home-screen" align-title="left" view-title="Beri Rating Driver">

	<ion-content class="marketDk-body" has-header="true">

		<div class="card" >
			<div class="item item-text-wrap dkItem-kotak" style="color:#ff9900;">
				
				Profile Driver

				<hr>
				<div class="item item-thumbnail-left dkItem-kotak">
					<img src="img/adam.jpg">
						<h2>Ferdhika Yudira</h2>
						<p>083821708285</p>
						
				</div>
				
			</div>
		</div>

		<div class="row">
			<div class="col text-center">
				<div star-rating rating="nilai" read-only="false" max-rating="5" click="click(param)"></div> 
			</div>
		</div>
	
		
	</ion-content>

	<ion-footer-bar class="bar-stable item-input-inset" keyboard-attach>
		<button class="button button-block button-balanced" style="width:100%" ng-click="selesai()">Selesai</button>
	</ion-footer-bar>
</ion-view>