<ion-view class="marketDk-pane home-screen" view-title="Daftar" hide-nav-bar="false">
	<ion-content scroll="false" class="marketDk-body">
		<div class="row">
			<div class="col">

				<form ng-submit="masuk()">


					<div class="row">
						<div class="col col-10" style="margin-right: 10px;">
							<i class="ion ion-email iconna"></i>
						</div>
						<div class="col col-2">
							<label class="item item-input">
								<input type="text" placeholder="Email" >
							</label>
						</div>
					</div>

					<div class="row">
						<div class="col col-10" style="margin-right: 10px;">
							<i class="ion ion-person iconna"></i>
						</div>
						<div class="col col-2">
							<label class="item item-input">
								<input type="text" placeholder="Nama" >
							</label>
						</div>
					</div>

					<div class="row">
						<div class="col col-10" style="margin-right: 10px;">
							<i class="ion ion-ios-telephone iconna"></i>
						</div>
						<div class="col col-2">
							<label class="item item-input">
								<input type="text" placeholder="No HP" >
							</label>
						</div>
					</div>

					<div class="row">
						<div class="col col-10" style="margin-right: 10px;">
							<i class="ion ion-key iconna"></i>
						</div>
						<div class="col col-2">
							<label class="item item-input">
								<input type="password" placeholder="Password" >
							</label>
						</div>
					</div>

					<div class="row text-right">
						<div class="col">
							<button class="button button-dk" >
								Daftar 
							</button>
						</div>
					</div>
				</form>
				
			</div>
		</div>
	</ion-content>
</ion-view>