<ion-view class="marketDk-pane home-screen" view-title="Lupa Password" hide-nav-bar="false">
	<ion-content scroll="false" class="marketDk-body">
		<div class="row">
			<div class="col">

				<form ng-submit="masuk()">

					<div class="marketDk-listCart">
						<div class="item item-text-wrap">
							<p>
								Masukkan email anda maka kami akan mengirimkan password baru anda melalui email.
							</p>			
						</div>
					</div>

					<div class="row">
						<div class="col col-10" style="margin-right: 10px;">
							
						</div>
					</div>

					<div class="row">
						<div class="col col-10" style="margin-right: 10px;">
							<i class="ion ion-email iconna"></i>
						</div>
						<div class="col col-2">
							<label class="item item-input">
								<input type="text" placeholder="Email" >
							</label>
						</div>
					</div>

					<div class="row text-right">
						<div class="col">
							<button class="button button-small button-dk" >
								Kirim 
							</button>
						</div>
					</div>
				</form>
				
			</div>
		</div>
	</ion-content>
</ion-view>