<ion-view class="marketDk-pane home-screen" align-title="center" view-title="Mencari Driver">

	<ion-content class="marketDk-body has-footer" has-footer="true">
	
		<div class="card">
			<div class="item item-text-wrap dkItem-kotak text-center">
				
				<p style="font-size: 20px;">Mohon tunggu, kami sedang mencari driver.</p>

				<ion-spinner icon="bubbles"></ion-spinner>
			</div>
		</div>

		
	</ion-content>

	<ion-footer-bar class="bar-stable item-input-inset" keyboard-attach>
		<button class="button button-block button-assertive" style="width:100%" ng-click="batal()">Batal</button>
	</ion-footer-bar>

</ion-view>