<ion-view class="marketDk-pane home-screen" align-title="left" view-title="Pesanan Selesai" hide-nav-bar="true">

	<ion-header class="bar bar-header marketDk-nav crop">
		<img src="img/logo.png" height="100%" ng-click="home()"/>

		<div class="dk-right">
			<button class="button marketDk-button-clear icon ion-android-cart" style="padding: 0 0px;" ng-click="cart()">
			</button>
			<button class="button marketDk-button-clear icon ion-android-person" style="padding: 0 0px;" ng-click="profile()">
			</button>
		</div>
	</ion-header>

	<div class="bar bar-subheader marketDk-nav " style="padding: 0px; height: 25px;">
		<div class="row" style="padding: 0px;">
			<div class="col text-center" ng-click="proses()" style="padding: 0px;background-color: #ff9900;color: #fff391;">
				Proses
			</div>
			<div class="col text-center" style="padding: 0px;">
				Selesai
			</div>
		</div>
	</div>

	<ion-content class="marketDk-body boga-subheader" has-header="true">

		<div class="card" >
			<div class="item item-text-wrap dkItemSelesai-kotak" ng-click="detailPesanan()" style="color:#000;">
				
				<div class="row" style="padding: 0px;font-size: 16px; color:#000;">
					<div class="col col-60" style="padding: 0px;">Pesanan</div>
					<div class="col text-right" style="padding: 0px;">01 Mei 2017</div>
				</div>

				<hr>
				
				Nasi Ayam<br>
				Jus Buah Naga
				
			</div>
		</div>
	
		
	</ion-content>

</ion-view>
