<ion-view class="marketDk-pane home-screen" align-title="left" view-title="Pesanan Selesai" hide-nav-bar="true">

	<ion-header class="bar bar-header marketDk-nav crop">
		<img src="img/logo.png" height="100%" ng-click="home()"/>

		<div class="dk-right">
			<button class="button marketDk-button-clear icon ion-android-cart" style="padding: 0 0px;" ng-click="cart()">
			</button>
			<button class="button marketDk-button-clear icon ion-android-person" style="padding: 0 0px;" ng-click="profile()">
			</button>
		</div>
	</ion-header>

	<ion-content class="marketDk-body boga-header" has-header="true">

		<div class="card" >
			<div class="item item-text-wrap dkItem-kotak" style="color:#000;">
				
				<div class="row" style="padding: 0px;font-size: 16px;">
					<div class="col col-60" style="padding: 0px;">Ridwan Kamil</div>
					<div class="col text-right" style="padding: 0px; color: green;">Ubah</div>
				</div>

				<p style="font-size: 10px;">walikota.bandung@yahoo.com</p>
				<br>
				<p style="font-size: 12px;">0812313123223</p>				
			</div>
		</div>

		<div class="card" >
			<div class="item item-text-wrap dkItem-kotak" style="color:#000;">
				
				<div class="row" style="padding: 0px;font-size: 16px;">
					<div class="col col-60" style="padding: 0px;">Go Pay</div>
					<div class="col text-right" style="padding: 0px; color: green;">Rp 9.000</div>
				</div>				
			</div>
		</div>

		<div class="card" >
			<div class="item item-text-wrap dkItem-kotak" style="color:#000;">
				<a>Ubah Kata Sandi</a><br><br>
				<a>Ubah Bahasa</a>			
			</div>
		</div>
		
		
	</ion-content>

</ion-view>