<ion-view class="marketDk-pane home-screen" view-title="Terlaris" >

	<ion-content class="marketDk-body">

		<div class="list list-inset" style="margin: 10px 10px;">
			<label class="item item-input dk-cari">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" ng-model="q" placeholder="Cari makanan">
			</label>
		</div>

		<div class="list card" ng-repeat="w in makanan | filter:q as name">
			<div class="item item-image" ng-click="detailWarung({{ w.warung_id }})">
				<img src="{{ w.src }}">
				<div class="text-on-image card-title-shadow">
					<h2>{{ w.name }}</h2>
					<p>{{ w.deskripsi }}</p>
				</div>
			</div>
		</div>
		
	</ion-content>
</ion-view>